* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
html {
    font-size: 62.5%;
    font-family: 'Source Sans Pro', sans-serif;
}
.card {
    display: grid;
    grid-template-rows: 1fr 1fr 1fr;
    width: 100vw;
    height: 100vh;
}
.card__header {
    width: 100%;
    height: 243.6px;
    background: linear-gradient(to right, #41295a, #2f0743);
}
.card__header-intro {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}
.card__header-intro img {
    position: relative;
    width: 100%;
    height: 243.6px;
    opacity: .6;
}
.card__header-intro h1 {
    position: absolute;
    font-size: 3rem;
    font-weight: 600;
    text-align: center;
    letter-spacing: 1px;
    color: #e7e0eb;
}
.card__content {
    width: 100%;
    height: 300px;
    padding: 20px;
    background-color: #fff;
}
.card__content p {
    width: 100%;
    margin-top: 5px;
    font-size: 1.7rem;
    text-align: center;
    font-weight: 400;
    color: #161516;
}
.card__content .card__content-subscribed {
    width: 100%;
    margin-top: 20px;
}
.card__content .card__content-subscribed input {
    width: 100%;
    height: 45px;
    background-color: #f5f7fa;
    border: 2px solid #e6e8f0;
    border-radius: 5px;
}
.card__content .card__content-subscribed input[type="text"] {
    padding: 20px;
    font-size: 1.5rem;
    font-weight: 400;
}
::placeholder {
    color: #d0d3db;
}
.card__content .card__content-subscribed button {
    width: 100%;
    height: 45px;
    margin-top: 20px;
    font-size: 1.5rem;
    font-weight: 400;
    color: #d0d3db;
    background: linear-gradient(to right, #41295a, #2f0743);
    border: none;
    border-radius: 5px;
}
.card__content .card__content-subscribed p {
    margin-top: 10px;
    font-size: 1.5rem;
    font-weight: 400;
    color: #b9bbc2;
}
.card__testimonial {
    width: 100%;
    height: 243.6px;
}
.card__testimonial .card__testimonial-content img {
    float: left;
    width: 60px;
}
.card__testimonial .card__testimonial-content h2{
    margin-left: 5px;
    padding-top: 12px;
}